%% -*-Erlang-*-
{cover_enabled, false}.
{eunit_opts, [verbose]}.

{erl_opts, [

  %% Important for BEAM reconstruction!!!
  debug_info,

  %% Lager pre-compile transformation
  {parse_transform, lager_transform},

  {i, "deps/erlang_localtime/include"}
]}.

{deps, [
  %% Lager must be first because of Erlang form transformations
  {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
  {dates, ".*", {git, "http://github.com/nisbus/erlang-dates", "master"}},
  {erlang_localtime, ".*", {git, "https://github.com/dmitryme/erlang_localtime", "master"}}
]}.

%% vim: fdm=syntax:fdn=3:tw=74:ts=2:syn=erlang
