%% -*-Erlang-*-
{cover_enabled, false}.
{eunit_opts, [verbose]}.

{erl_opts, [

  %% Important for BEAM reconstruction!!!
  debug_info,

  %% Lager pre-compile transformation
  {parse_transform, lager_transform},

  %% This is quite stupid, but what else we can do :-(
  {i, "deps/erlang_localtime/include"},  %% if we're standalone
  {i, "../erlang_localtime/include"}     %% if we're dependency
]}.

{port_specs, [
  {"priv/idealib_drv.so", ["c_src/*.c"]}
]}.

{deps, [
  %% Lager must be first because of Erlang form transformations
  {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
  {dates, ".*", {git, "http://github.com/nisbus/erlang-dates", "master"}},
  {erlang_localtime, ".*", {git, "https://github.com/dmitryme/erlang_localtime", "master"}},
  {erlsom, ".*", {git, "https://github.com/willemdj/erlsom", "master"}},
  {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
  {'iso8601', ".*", {git, "http://github.com/ztmr/erlang_iso8601.git", "master"}}
]}.

%% vim: fdm=syntax:fdn=3:tw=74:ts=2:syn=erlang
